// SPDX-License-Identifier: GPL-2.0
/dts-v1/;
#include "bcm2711-rpi-cm4.dtsi"
#include "bcm283x-rpi-usb-otg.dtsi"

/ {
    model = "Oks AMR Controller v2.1";
    compatible = "raspberrypi,4-compute-module", "oks,amr-controller-v2.1", "brcm,bcm2711";

    chosen {
        bootargs = "console=tty1 coherent_pool=1M 8250.nr_uarts=1 snd_bcm2835.enable_headphones=0";
    };

    oks_board_version {
        compatible = "oks,board-version";
        version = "2.1";
    };

   clocks {
   	clk_mcp251xfd_osc: mcp251xfd-osc {
            #clock-cells = <0>;
	    compatible = "fixed-clock";
	    clock-frequency = <40000000>;
	};
   };

    reg_mcp251xfd_xceiver: reg_mcp251xfd_xceiver {
        compatible = "regulator-fixed";
        regulator-name = "mcp251xfd_xceiver";
        regulator-min-microvolt = <3300000>;
        regulator-max-microvolt = <3300000>;
        gpio = <&gpio 6 GPIO_ACTIVE_HIGH>;
        pinctrl-names = "default";
        pinctrl-0 = <&mcp251xfd_xceiver_pins>;
    };

    leds {
        led-act {
            label = "led0";
            linux,default-trigger = "heartbeat";
            gpios = <&gpio 42 GPIO_ACTIVE_HIGH>;
            delay-on-us = <500000>;  /* 500ms on */
            delay-off-us = <1000000>; /* 1s off */
            status = "okay";
        };

        led-pwr {
            label = "PWR";
            gpios = <&expgpio 2 GPIO_ACTIVE_LOW>;
            default-state = "keep";
            linux,default-trigger = "default-on";
        };
    };

    aliases {
        serial0 = &uart0;
        serial1 = &uart1;
        serial2 = &uart2;
        serial3 = &uart3;
        i2c0 = &i2c0;
        i2c1 = &i2c1;
        i2c4 = &i2c4;
        i2c5 = &i2c5;
        i2c6 = &i2c6;
        spi1 = &spi1;
        spi2 = &spi2;
	spi3 = &spi3;
	spi4 = &spi4;
	spi5 = &spi5;
	spi6 = &spi6;
    };
};

&gpio {
    gpio-line-names = "UART2_TXD",
                  "UART2_RXD",
                  "I2C1_SDA",
                  "I2C1_SCL",
                  "UART3_TXD",
                  "UART3_RXD",
                  "MCP251xFD_INT0",
                  "CN2_6_DO",
                  "I2C4_SCL",
                  "I2C4_SDA",
                  "I2C5_SDA",
                  "I2C5_SCL",
                  "UART5_TXD",
                  "UART5_RXD",
                  "UART0_TXD",
                  "UART0_RXD",
                  "MCP251xFD_INT",
                  "CN2_5_DI",
                  "SPI1_CS0",
                  "SPI1_MISO",
                  "SPI1_MOSI",
                  "SPI1_SCLK",
                  "I2C6_SCL",
                  "I2C6_SDA",
                  "TP39",
                  "TP38",
                  "MCP251xFD_INT1",
                  "CN2_3_DI";

    spi1_pins: spi1_pins {
        brcm,pins = <19 20 21>;
        brcm,function = <3>; /* alt4 */
    };

    spi1_cs_pins: spi1_cs_pins {
        brcm,pins = <18>;
        brcm,function = <3>; /* alt4 */
    };

    i2c0_pins_44_45: i2c0 {
        brcm,pins = <44 45>;
        brcm,function = <BCM2835_FSEL_ALT1>;
        brcm,pull = <BCM2835_PUD_UP>;
    };

    i2c1_pins: i2c1 {
        brcm,pins = <2 3>;
        brcm,function = <BCM2835_FSEL_ALT0>;
        brcm,pull = <BCM2835_PUD_UP>;
    };

    i2c4_pins: i2c4 {
        brcm,pins = <8 9>;
        brcm,function = <BCM2835_FSEL_ALT5>;
        brcm,pull = <BCM2835_PUD_UP>;
    };

    i2c5_pins: i2c5 {
        brcm,pins = <10 11>;
        brcm,function = <BCM2835_FSEL_ALT5>;
        brcm,pull = <BCM2835_PUD_UP>;
    };

    i2c6_pins: i2c6 {
        brcm,pins = <22 23>;
        brcm,function = <BCM2835_FSEL_ALT5>;
        brcm,pull = <BCM2835_PUD_UP>;
    };

    uart0_pins: uart0_pins {
        brcm,pins = <14 15>;
        brcm,function = <BCM2835_FSEL_ALT0>;
        brcm,pull = <0 2>;
    };

    uart1_pins: uart1_pins {
        brcm,pins;
        brcm,function;
        brcm,pull;
    };

    uart2_pins: uart2_pins {
        brcm,pins = <0 1>;
        brcm,function = <BCM2835_FSEL_ALT4>;
        brcm,pull = <0 2>;
    };

    uart3_pins: uart3_pins {
        brcm,pins = <4 5>;
        brcm,function = <BCM2835_FSEL_ALT4>;
        brcm,pull = <0 2>;
    };

    uart4_pins: uart4_pins {
        brcm,pins = <8 9>;
        brcm,function = <BCM2835_FSEL_ALT4>;
        brcm,pull = <0 2>;
    };

    uart5_pins: uart5_pins {
        brcm,pins = <12 13>;
        brcm,function = <BCM2835_FSEL_ALT4>;
        brcm,pull = <0 2>;
    };

    mcp251xfd0_pins: mcp251xfd0_pins {
        brcm,pins = <26>;
        brcm,function = <BCM2835_FSEL_GPIO_IN>;
    };

    mcp251xfd_xceiver_pins: mcp251xfd_xceiver_pins {
        brcm,pins = <6>;
        brcm,function = <BCM2835_FSEL_GPIO_OUT>;
    };
};

&uart0 {
    label = "CN1_ROBOT_CONN_RES";
    pinctrl-names = "default";
    pinctrl-0 = <&uart0_pins>;
    linux,alias = "serial0";
    status = "okay";
};

&uart2 {
    label = "CN8_RFID";
    pinctrl-names = "default";
    pinctrl-0 = <&uart2_pins>;
    linux,alias = "serial2";
    status = "okay";
};

&uart3 {
    label = "CN2_RES";
    pinctrl-names = "default";
    pinctrl-0 = <&uart3_pins>;
    linux,alias = "serial3";
    status = "okay";
};

&uart5 {
    label = "bus_servo";
    status = "okay";
    pinctrl-names = "default";
    pinctrl-0 = <&uart5_pins>;
    linux,alias = "serial5";
    status = "okay";
};

&i2c0 {
    pinctrl-names = "default";
    pinctrl-0 = <&i2c0_pins_44_45>;
    clock-frequency = <400000>;
    status = "okay";
};

&i2c1 {
    pinctrl-names = "default";
    pinctrl-0 = <&i2c1_pins>;
    clock-frequency = <100000>;
    status = "okay";
};

&i2c4 {
    pinctrl-names = "default";
    pinctrl-0 = <&i2c4_pins>;
    clock-frequency = <100000>;
    status = "okay";
};

&i2c5 {
    pinctrl-names = "default";
    pinctrl-0 = <&i2c5_pins>;
    clock-frequency = <400000>;
    status = "okay";
};

&i2c6 {
    pinctrl-names = "default";
    pinctrl-0 = <&i2c6_pins>;
    clock-frequency = <100000>;
    status = "okay";
};

&spi1 {
    /* needed to avoid dtc warning */
    #address-cells = <1>;
    #size-cells = <0>;
    pinctrl-names = "default";
    pinctrl-0 = <&spi1_pins &spi1_cs_pins>;
    cs-gpios = <&gpio 18 1>;
    status = "okay";
};

&spi1 {
    mcp251xfd: mcp251xfd@0 {
        compatible = "microchip,mcp251xfd";
        reg = <0>;
        pinctrl-names = "default";
        pinctrl-0 = <&mcp251xfd0_pins>;
        spi-max-frequency = <20000000>;
        interrupt-parent = <&gpio>;
        interrupts = <16 IRQ_TYPE_LEVEL_LOW>;
        microchip,rx-int-gpios = <&gpio 26 GPIO_ACTIVE_LOW>;
        clocks = <&clk_mcp251xfd_osc>;
        xceiver-supply = <&reg_mcp251xfd_xceiver>;
        //vdd-supply = <&reg5v0>;
    };
};


&usb {
    compatible = "brcm,bcm2835-usb";
    dr_mode = "otg";
    status = "okay";
};

&bt {
    status = "disabled";
};

&hdmi0 {
    status = "disabled";
};

&hdmi1 {
    status = "disabled";
};

&genet {
    status = "disabled";
};

&pixelvalve0 {
    status = "disabled";
};

&pixelvalve1 {
    status = "disabled";
};

&pixelvalve2 {
    status = "disabled";
};

&pixelvalve4 {
    status = "disabled";
};

&vc4 {
    status = "disabled";
};

&vec {
    status = "disabled";
};

&pcie0 {
    status = "disabled";
};

&i2c4 {
    pca953x_2: pca953x@21 {
        compatible = "nxp,pca9539";
        reg = <0x21>;
        gpio-controller;
        #gpio-cells = <2>;
        label = "peripheral_power_control_io_expander";
        gpio-line-names = "PWR_WHEEL_EN_FR", "PWR_WHEEL_EN_FL", "PWR_WHEEL_EN_RR", "PWR_WHEEL_EN_RL", "RES1", "RES2", "RES3", "RES4", "LIFTER_SIG_EN_FR", "LIFTER_SIG_EN_FL", "LIFTER_SIG_EN_RR", "LIFTER_SIG_EN_RL", "RES5", "RES6", "RES7", "RES8";
        gpio-default-states = <0 0 0 0 0 0 0 0  0 0 0 0 0 0 0 0>;
    };
};

&i2c5 {
    icm20948: icm20948@68 {
        status = "disabled";
        compatible = "invensense,icm20948";
        reg = <0x68>;
    };
};

&i2c6 {
    status = "okay";
    pinctrl-names = "default";
    pinctrl-0 = <&i2c6_pins>;
    clock-frequency = <100000>;

    pca953x_1: pca953x@20 {
        compatible = "nxp,pca9539";
        reg = <0x20>;
        gpio-controller;
        #gpio-cells = <2>;
        label = "peripheral_comms_control_io_expander";
        gpio-line-names = "LINE_FOLLOWER_FRONT_EN", "LINE_FOLLOWER_REAR_EN", "LINE_FOLLOWER_LEFT_EN", "LINE_FOLLOWER_RIGHT_EN", "COLLISION_SENSOR_FRONT_EN", "COLLISION_SENSOR_REAR_EN", "COLLISION_SENSOR_LEFT_EN", "COLLISION_SENSOR_RIGHT_EN", "WEIGHT_SENSOR_FR_EN", "WEIGHT_SENSOR_FL_EN", "WEIGHT_SENSOR_RR_EN", "WEIGHT_SENSOR_RL_EN", "LINE_FOLLOWER_PWR_EN", "COLLISION_SENSOR_PWR_EN", "WEIGHT_SENSOR_PWR_EN", "RES_TP10";
        gpio-default-states = <0 0 0 0 0 0 0 0  0 0 0 0 0 0 0 0>;
    };

    pcf85063a: rtc@51 {
        compatible = "nxp,pcf85063a";
        reg = <0x51>;
    };
};

