// SPDX-License-Identifier: GPL-2.0
/dts-v1/;

#include "oks_amr_controller_2v1.dts"

/ {
    model = "Oks AMR Controller v2.2";
    compatible = "oks,amr-controller-v2.2", "brcm,bcm2711";

    chosen {
        bootargs = "console=tty1 coherent_pool=1M 8250.nr_uarts=0 snd_bcm2835.enable_headphones=0";
    };

    oks_board_version {
        compatible = "oks,board-version";
        version = "2.2";
    };
};

&i2c1 {
    clock-frequency = <400000>;
    status = "okay";
};

&i2c6 {
    pca953x_1: pca953x@20 {
            status = "disabled";
    };
};

&i2c4 {
    pca953x_2: pca953x@21 {
            status = "disabled";
    };

    pca953x_3: pca953x@20 {
            compatible = "nxp,pca9539";
            reg = <0x20>;
            gpio-controller;
            #gpio-cells = <2>;
            label = "peripheral_comms_control_io_expander";
            gpio-line-names = "LINE_FOLLOWER_FRONT_EN", "LINE_FOLLOWER_REAR_EN", "LINE_FOLLOWER_LEFT_EN", "LINE_FOLLOWER_RIGHT_EN", "COLLISION_SENSOR_FRONT_EN", "COLLISION_SENSOR_REAR_EN", "COLLISION_SENSOR_LEFT_EN", "COLLISION_SENSOR_RIGHT_EN", "WEIGHT_SENSOR_FR_EN", "WEIGHT_SENSOR_FL_EN", "WEIGHT_SENSOR_RR_EN", "WEIGHT_SENSOR_RL_EN", "LINE_FOLLOWER_PWR_EN", "COLLISION_SENSOR_PWR_EN", "WEIGHT_SENSOR_PWR_EN", "RES_TP10";
            gpio-default-states = <0 0 0 0 0 0 0 0  0 0 0 0 0 0 0 0>;
    };

    pca953x_4: pca953x@21 {
        status = "okay";
        compatible = "nxp,pca9539";
        reg = <0x21>;
        gpio-controller;
        #gpio-cells = <2>;
        label = "peripheral_power_control_io_expander";
        gpio-line-names = "PWR_WHEEL_EN_FR", "PWR_WHEEL_EN_FL", "PWR_WHEEL_EN_RR", "PWR_WHEEL_EN_RL", "RES1", "RES2", "RES3", "RES4", "LIFTER_SIG_EN_FR", "LIFTER_SIG_EN_FL", "LIFTER_SIG_EN_RR", "LIFTER_SIG_EN_RL", "LIFTER_PWR_EN", "RES6", "RES7", "RES8";
        gpio-default-states = <0 0 0 0 0 0 0 0  1 1 1 1 1 0 0 0>;
    };
};
